

.dataTable{
   font-size:2vmin; 
}

table {
   font-size:2vmin; 
}

.nav-pills{
 font-size: 1.25vmin;
  font-weight: 400;
}

.thead{
  font-family: Avenir Next;
  font-size: 3vmin;
  line-height: 1.5;
}

body{
  font-family: Avenir Next;
  font-size: 2vmin;
  line-height: 1.5;
 
}
/* Headers */
h1{
  font-size: 4.9vw;
  text-align: center;
  font-weight: 600;
  color:#e26069;
}

h2{
  font-size: 2.5vw;
	text-align: center;
	font-weight: 600;
	color:#e26069;
}



